<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>

	<key>BBLMLanguageDisplayName</key>
	<string>: Firth</string>
	<key>BBLMLanguageCode</key>
	<string>clfr</string>

	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.firth</string>
		</dict>
	</array>


	<key>BBLMColorsSyntax</key>
	<true/>

	<key>BBLMIsCaseSensitive</key>
	<true/>

	<key>BBLMKeywordList</key>
	<array>
		<string>:</string>
		<string>;</string>

		<string>dup</string>
		<string>over</string>
		<string>drop</string>
		<string>clear</string>
		<string>swap</string>
		<string>rot</string>
		<string>-rot</string>
		<string>pick</string>

		<string>C&gt;</string>
		<string>&gt;C</string>
		<string>C@</string>
		<string>2C&gt;</string>
		<string>2&gt;C</string>
		<string>2C@</string>

		<string>binop</string>
		<string>binopconst</string>

		<string>if</string>
		<string>else</string>
		<string>loops</string>
		<string>do</string>
		<string>end</string>

		<string>true</string>
		<string>false</string>
		<string>not</string>
		<string>2not</string>
		<string>nil</string>
		<string>{}</string>

		<string>.raw</string>
		<string>.</string>
		<string>.x</string>
		<string>..</string>
		<string>.S</string>
		<string>.C</string>

		<string>loadfile</string>
		<string>exit</string>
		<string>setcompiling </string>
		<string>settarget </string>
		<string>interpretpending</string>
		<string>interpret</string>
		<string>compiling?</string>
		<string>parse</string>
		<string>parsematch</string>
		<string>&gt;ts</string>
		<string>push</string>
		<string>create</string>
		<string>alias:</string>
		<string>buildfunc</string>
		<string>bindfunc</string>
		<string>does&gt;</string>
		<string>dict</string>
		<string>last</string>
		<string>defined?</string>
		<string>@@</string>
		<string>!!</string>
		<string>immediate</string>
		<string>char</string>
		<string>call</string>

		<string>dump</string>
		<string>dumpword:</string>
		<string>trace</string>
		<string>notrace</string>
		<string>tracing?</string>
		<string>path</string>
		<string>calls:</string>
		<string>calledby:</string>
		<string>tstart</string>
		<string>tend</string>

		<string>&amp;</string>
		<string>|</string>
		<string>^</string>
		<string>~</string>

		<string>NOP</string>
	</array>

	<key>BBLMCommentLineDefault</key>
	<string>// </string>

	<key>BBLMScansFunctions</key>
	<true/>

	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Characters</key>
		<string>!$%&amp;*+-./:&lt;=&gt;?!@^_~\[\]\\{}|'"0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz</string>

		<key>Comment Pattern</key>
		<string><![CDATA[
		(?x:
			(?:^//\s.*$)		|	(?# Line comment, start of line)
			(?:\s//\s.*$)		|	(?# Line comment, after other code)
			(?:^\(\s.*?\))		|	(?# Delimited or Stack comment, start of line)
			(?:\s\(\s.*?\))			(?# Delimited or Stack comment, between other code)
		)
		]]></string>

		<key>String Pattern</key>
		<string><![CDATA[
		(?x:
			(?:(?<=^char\s)[^\s]+)							|	(?# Parsed-char string, start of line)
			(?:(?<!postpone\schar\s)(?<=\schar\s)[^\s]+)	|	(?# Parsed-char string, after code)
			(?:"\s(\\"|[^"\r]|\\\r)*")							(?# Double-quote string)
		)
		]]></string>

		<key>Function Pattern</key>
		<string><![CDATA[
		(?x: 
			(?P<leadspace>^\s*)
			(?P<function>
				:\s+
				(?P<function_name>
					[!$%&*+-./:<=>?!@^_~\[\]\\{}|'"0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz]+
				)
				(?s:.+?)
				(?:;|;immed)
			)
		)
		]]></string>

		<key>Skip Pattern</key>
		<string><![CDATA[
		(?x:
			(?P>string) |
			(?P>comment)
		)
		]]></string>
	</dict>
</dict>
</plist>
